title {
    background: url("http://www.rohnisch.sk/images/google.jpg") no-repeat top center;
}


body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.top_navbar {
    margin: 10px;
    padding: 0px;
    float: right;
    font-family: Arial, sans-serif;
}


header a {
    display: #444;
    width: 40px;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    color: black;

}

header a:hover, a:active {
    text-decoration: underline;
}

#Share {
    background-color: #F4F4F4;
}

#gPlus {
    width: 35px;
    height: 35px;
    background: url(https://lh6.googleusercontent.com/-3n-XHH11RIE/AAAAAAAAAAI/AAAAAAAAFP8/42nQwS6hVng/s120-c/photo.jpg);
    border-radius: 50%;
    background-size: 100%;

}

/******************End of header***************/

/*search engine*/

.search {
    height: 300px;
    width: 300px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    vertical-align: middle;


}

.search img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}


#search {
    width: 150%;
    height: 100%;
}

/*****************End of search engine*********************/

.footer-right {
    list-style-type: none;
    float: right;
}

.footer-right li {
    display: inline;
    float: left;
}

.footer-left {
    list-style-type: none;
    float: left;
}

.footer-left li {
    display: inline-block;
}

footer a {
    display: inline-block;
    width: 100%; 
    text-align: center;
    padding: 2px;
    text-decoration: none;
    color: #444;
}

footer a:hover, a:active {
    text-decoration: underline;
}

footer {
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    line-height: 40px;
    min-width: 99%;
    bottom: 0;
    position: absolute;
}

footer ul {
    padding: 0 0 0 20px;
}
