title {
    background: url("http://www.rohnisch.sk/images/google.jpg") no-repeat top center;
}


body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.top_navbar {
    margin: 10px;
    padding: 0px;
    float: right;
    font-family: "open sans", "sans serif";
}


header a {
    display: block;
    width: 40px;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    color: black;

}

header a:hover, a:active {
    text-decoration: underline;
}

#Share {
    background-color: #F4F4F4;
}

#gPlus {
    width: 35px;
    height: 35px;
    background: url(https://lh6.googleusercontent.com/-3n-XHH11RIE/AAAAAAAAAAI/AAAAAAAAFP8/42nQwS6hVng/s120-c/photo.jpg);
    border-radius: 50%;
    background-size: 100%;

}

.search {
    height: 300px;
    width: 300px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    vertical-align: middle;


}

.search img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}


#search {
    width: 150%;
    height: 100%;
}


footer div {
    margin: 10px;
    padding: 0px;
    font-family: "open sans", "sans serif";
    background-color: #F4F4F4;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
}

.footer a {
    display: block;
    width: 40px;
    text-align: center;
    padding: 2px;
    text-decoration: none;
    color: black;
    vertical-align: bottom;

}

.footer a:hover, a:active {
    text-decoration: underline;
}